Repository chintan9/plyr-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

chore: add 'dist' directory to .gitignore
  .gitignore
Due: none

Update README with contributor acknowledgments
  README.md
Due: prettier --write

feat: enhance usePlyr function with detailed documentation and update package-lock.json for peer dependencies
  dist/index.cjs.map
  dist/index.d.cts
  dist/index.d.ts
  dist/index.js.map
  package-lock.json
Due: eslint --fix, prettier --write

remove
  .github/workflows/codeql.yml
Due: none

6.0.0
  package-lock.json
  package.json
Due: prettier --write

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

Update supported versions in SECURITY.md
  SECURITY.md
Due: prettier --write

Update README to remove PNPM note and add showcase
  README.md
Due: prettier --write

Revise Showcase section and contributor acknowledgments
  README.md
Due: prettier --write

Fix typo in README.md
  README.md
Due: prettier --write

Update npm install command to use npx
  .github/workflows/nodejs.yml
Due: none

Update npm installation command in workflow
  .github/workflows/nodejs.yml
Due: none

chore(deps): update 8 dependencies
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
